<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Title</title>
</head>
<body>
    {% load static %}
        <link rel="stylesheet" href="{% static 'css/chart.css' %}">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
        <link rel="stylesheet" href="{% static 'css/table.css' %}">
    {% include 'navBar.html' %}


{% block i %}
{% endblock %}

</body>
</html>