<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Acceuil</title>
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
   <div class="content">
        <h1>Bienvenue sur la page d'accueil</h1>
        <p>
            Bienvenue sur notre site dédié à l'Internet des objets (IoT) ! Ici, vous pouvez afficher les données de température et d'humidité en temps réel sous forme de tableaux et de graphiques, ainsi que consulter les données JSON. Utilisez le bouton ci-dessous pour accéder aux différentes pages.
        </p>
        <ul>
            <li><a href="{% url 'table' %}">application</a></li>

        </ul>
    </div>

</body>
</html>